# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log

# testing
/coverage

# IDE files
.vscode/
.idea/

# env
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
